@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
  text-decoration: none;
  list-style: none;
}
body{
  background-color: #18171D;
  color: #D5D4D9;
  overflow-X: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #27262B ;
}
.header .right{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header ul.right li a:hover{
  color: #F50567;
}
.header ul.right li button{
  padding: 5px 8px;
  background-color: #F50567;
  outline: none;
  border: 2px solid transparent;
  border-radius: 10px;
  color: #D5D4D9;
  margin: 0 20px;
  transition: 0.5s all ease;
}
.header ul.right li button:hover{
  border: 2px solid #F50567;
  background-color: transparent;
  color: #F50567;

}
.header ul.right li a{
  margin-left: 15px;
  color: #D5D4D9;
  transition: 0.5s all ease;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 30px;
  flex-wrap: wrap;
}
.movie{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #D5D4D9;
  flex-direction: column;
  justify-content: center;
  background-color: #27262B;
  padding: 20px 25px;
  border-radius: 10px;
  outline: none;
  border: 0.5px solid #52525C;
  transition: 0.5s all ease;
  width: 250px;
  margin: 10px 20px;
  height: 500px;
}
.movie:hover{
  transform:translateY(-10px);
}
.movie img{
  width: 200px;
  margin-bottom: 8px;
  transition: 0.5s all ease;
}
.movie h2{
  font-size: 18px;
  text-align: center;
}
.movie h3{
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  
}
.movie i{
  color: #F50567;
  border: 2px solid #F50567;
  padding: 10px;
  border-radius: 10px;
}
.header .left{
  font-family: 'Comforter', cursive;
  font-weight: 900;
  font-size: 3rem;
  color: #F50567;
}



/* Video Page Style */

.videoPageContainer{
  padding: 25px 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.videoPageContainer h1{
  color: #F50567;
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: center;
}
.videoPageContainer h5{
  text-align: center;
  opacity: 75%;
  font-weight: 400;
  margin-bottom: 5px;
}
